@model iWasHere.Domain.DTOs.ScheduleTouristAttractionModel
@{
    ViewData["Title"] = "AddSchedule";
}
@Html.ValidationSummary(true)
<h1>Adaugare program obiectiv turistic</h1>
@using (Html.BeginForm("NewSchedule", "Dictionary", FormMethod.Post))
{
    <div>
        <h6> Ziua din saptamana</h6>
        <input type="text" asp-for="Day" id="day" />
    </div>
    <h6>Sezon</h6>
    <p>
        @(Html.Kendo().ComboBoxFor(model => model.SeasonId)

                         .HtmlAttributes(new { style = "align:left; width:60%; id='seasons'" })
                         .Placeholder("Selecteaza sezonul")
                         .DataTextField("SeasonName")
                         .DataValueField("SeasonId")


                         .Filter(FilterType.Contains)
                         .DataSource(source =>
                         {
                             source.Read(read =>
                             {
                                 read.Action("GetSeasons", "Dictionary");
                             });
                         })
        )
    </p>
    <h6>Obiectiv turistic</h6>
    <p>
        @(Html.Kendo().ComboBoxFor(model => model.TouristAttractionId)

                        .HtmlAttributes(new { style = "align:left; width:60%; id='attractions'" })
                        .Placeholder("Selecteaza obiectiv turistic")
                        .DataTextField("TouristAttractionName")
                        .DataValueField("TouristAttractionId")

                        .Filter(FilterType.Contains)


                        .DataSource(source =>
              {
                   source.Read(read =>
             {
                read.Action("GetTouristAttraction", "Dictionary");
                            });
                        })
        )
    </p>
    <p>
        <h6>Ora de inceput </h6>
        @(Html.Kendo().TimePickerFor(model => model.StartHour)
          .HtmlAttributes(new { style = "width: 50%" })
          .Format("HH:mm:ss")
          .DateInput()

        )
    </p>
    <p>
        <h6>Ora de sfarsit </h6>
        @(Html.Kendo().TimePickerFor(model => model.EndHour)
           .HtmlAttributes(new { style = "width: 50%" })
           .Format("HH:mm:ss")
           .DateInput(true)
        )
    </p>

    @Html.HiddenFor(a => a.ScheduleId)
    <div>
        <button class="k-button k-primary" onclick="validate()" style="margin-top: 2em" name="submitbtn" value="save">Salveaza</button>
        @if (Model == null)
        {
            <button class="k-button k-primary" onclick="validate()" style="margin-top: 2em" name="submitbtn" value="savenew">Salveaza si Nou</button>
        }
        <button class="k-button k-primary" style="margin-top: 2em" name="submitbtn" value="cancel">Anuleaza</button>

    </div>

    <script>


        function validate() {

            if (invalid($('#day').val())) {
                alert("Doar litere ");
            }

            //var co = $('#attractions');
            //if (co.val() == undefined) {
            //    alert("Selecteaza un obiectiv turistic!");
            //    $('#co').focus();
            //}

            //var co2 = $('#seasons');
            //if (co2.val() == undefined) {
            //    alert("Selecteaza un sezon!");
            //    $('#co').focus();
            //}

            var combo1 = $find('<%=seasons.SeasonId %>');
            if (combo1.get_selectedIndex() == undefined) {
                alert("Selecteaza un sezon!");
            }

            var combo2 = $find('<%=attractions.TouristAttractionId %>');
            if (combo2.get_selectedIndex() == undefined) {
                alert("Selecteaza un obiectiv!");
            }
        }
        function invalid(str) {
            return str === null || str == "" || str == " " || str.match(/^ *$/) !== null;
        }

    </script>
    <style>
        body {
        /*background-image: linear-gradient(to top, #2a2c2e, #34375c, #722e70, #b60054, #d50000);*/
        /*background-image: linear-gradient(to right bottom, #0f0d0d, #403939, #786969, #b49d9d, #f4d5d5);*/
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        box-sizing: border-box;
        background-color: lightyellow;
    }
    </style>




}

