@model iWasHere.Domain.DTOs.TouristAttractionMapsModel



@{
    ViewData["Title"] = "TouristAttraction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Courgette&display=swap" rel="stylesheet">


@*<link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">*@
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    body {
        /*background-image: linear-gradient(to top, #2a2c2e, #34375c, #722e70, #b60054, #d50000);*/
        /*background-image: linear-gradient(to right bottom, #0f0d0d, #403939, #786969, #b49d9d, #f4d5d5);*/
        background-image: url("https://static3.depositphotos.com/1008191/262/i/950/depositphotos_2620824-stock-photo-cream-colored-natural-background.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        box-sizing: border-box;
        background-color: lightyellow;
    }

    .details {
        border: 1px solid white;
        color: white;
        font-size: 18px;
        border-radius: 8px;
        background-color: lightblue;
        /*background-image: linear-gradient(to right top, #7638d6, #6d55e0, #676ce6, #6980ea, #7192ea, #68a2f1, #65b1f6, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);*/
        text-align: center;
        width: 500px;
        color: black;
    }


    label {
        width: 100px;
        font-family: 'Source Code Pro', sans-serif;
    }

    input:hover {
        cursor: default;
    }

    input:focus {
        outline: none;
    }

    textarea:focus {
        outline: none;
    }

    textarea:hover {
        cursor: default;
    }

    h1 {
        color: black;
        font-size: 50px;
        font-family: 'Courgette', cursive;
    }

    .parent {
        color: black;
        font-size: 22px;
        border-radius: 12px;
    }

    .carousel {
        width: 300px;
    }

    .carousel-item img {
        object-fit: contain;
        object-position: center;
        height: 500px;
        width: 600px;
    }

    #carouselExampleControls {
        width: 100%;
        height: 500px;
        background-color: transparent;
        margin-bottom: 30px;
    }

    #description {
        /*overflow:hidden;*/
    }
    .carousel-control-next-icon,.carousel-control-prev-icon{
        background-color:red;
    }
</style>

<h1>Detalii Obiectiv Turistic</h1>

<hr style="background:white;" />


<div class="parent" id="gradient">
    <div class="row highligh mb-2">
        <div class="col-lg-6"><label for="name">Nume</label></div>
        <div class="col-lg-6"><input class="details" type="text" id="name" name="name" value="Name" readonly="readonly" /></div>
    </div>
    <div class="row highligh mb-2">
        <div class="col-lg-6"> <label for="description">Descriere</label></div>
        <div class="col-lg-6"><textarea extMode="MultiLine" class="details" id="description" name="description" value="Description" readonly="readonly"></textarea></div>
    </div>
    <div class="row highligh mb-2">
        <div class="col-lg-6"> <label for="longitude">Longitudine</label> </div>
        <div class="col-lg-6"> <input class="details" type="text" id="longitude" name="longitude" value="Longitude" readonly="readonly" /></div>
    </div>
    <div class="row highligh mb-2">
        <div class="col-lg-6"><label for="latitude">Latitudine</label></div>
        <div class="col-lg-6"><input class="details" type="text" id="latitude" name="latitude" value="Latitude" readonly="readonly" /></div>
    </div>
    <div class="row highligh mb-2">
        <div class="col-lg-6"><label for="category">Categorie</label></div>
        <div class="col-lg-6"><input class="details" type="text" id="category" name="category" value="Category" readonly="readonly" /></div>
    </div>
    <div class="row highligh mb-2">
        <div class="col-lg-6"><label for="city">Oras</label></div>
        <div class="col-lg-6"><input class="details" type="text" id="city" name="city" value="City" readonly="readonly" /></div>
    </div>
    <div class="row highligh mb-2">
        <div class="col-lg-6"><label for="landmark">Regiune</label></div>
        <div class="col-lg-6"><input class="details" type="text" id="landmark" name="landmark" value="Landmark" readonly="readonly" /></div>
    </div>
    <div class="row highligh mb-2">
        <div class="col-lg-6"><label for="county">Judet</label></div>
        <div class="col-lg-6"><input class="details" type="text" id="county" name="county" value="County" readonly="readonly" /></div>
    </div>
    <div class="row highligh mb-2">
        <div class="col-lg-6"><label for="country">Country</label></div>
        <div onclick="window.location.href='/TouristAttractions/TouristAttractionsByCountry?Id='+getCountryId()" class="col-lg-6"><input class="details" type="text" id="country" name="country" value="Country" readonly="readonly" /></div>
    </div>
</div>

<br />
<hr  />

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div id="objective-images" class="carousel-inner">
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<br />
<hr />
<h3> Locatia obiectivului </h3>
@using (Html.BeginForm("GetTouristAttractionMapsValues", "TouristAttraction", FormMethod.Post))
{
    @Html.HiddenFor(a => a.TouristAttractionId)
    <input type="text" asp-for="Latitude" hidden id="Latitude" />

    <input type="text" asp-for="Longitude" hidden id="Longitude" />

    <div id="map"></div>

}

<script>
    var map;
    function initMap() {
        var Latitude = parseFloat($("#Latitude").val());
        var Longitude = parseFloat($("#Longitude").val());

        var location = { lat: Latitude, lng: Longitude };

        var map = new google.maps.Map(
            document.getElementById('map'), { zoom: 15, center: location });

        var marker = new google.maps.Marker({ position: location, map: map });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVxnhhEH_WDFhXv_PWaJNXztPWKLBO81Y&callback=initMap" async defer></script>


<style>
    #map {
        height: 400px;
        width: 700px;
    }
</style>

<br />
<hr />

<h3> Adauga un comentariu </h3>

@using (Html.BeginForm("AddReview", "TouristAttraction", FormMethod.Post))
{

    @Html.HiddenFor(a => a.TouristAttractionId)

    <div>
        <label><b>Utilizator anonim</b>&emsp;&emsp;&emsp;&emsp;</label>
        <input type="checkbox" id="CheckBoxId" name="CheckBoxName" /><br />
        <label id="lblCostTicket" style="display:none"><b>Utilizator anonim&emsp;</b></label>
        <input id="inputCostTicket" type="text" style="display:none" />
    </div>

    <div>
        <h6> UserName </h6>
        <input type="text" asp-for="Review.User" id="user" />
    </div>

    <div>
        <h6> Titlu Comentariu</h6>
        <input type="text" asp-for="Review.Title" id="title" />
    </div>

    <div>
        <h6> Comentariu </h6>

        <textarea asp-for="Review.Comment" id="comment" rows="5" columns="80"></textarea>
    </div>


    //<input type="text" hidden asp-for="Review.TouristAttractionId" />
    <br />
    <h6> Rating </h6>

    <div class="rate">
        <input type="radio" id="str9" name="Review.RatingValue" value="9" />        <label for="str9" title="10 stele">9 stars</label>
        <input type="radio" id="str8" name="Review.RatingValue" value="8" />        <label for="str8" title="9 stele">8 stars</label>
        <input type="radio" id="str7" name="Review.RatingValue" value="7" />        <label for="str7" title="8 stele">7 stars</label>
        <input type="radio" id="str6" name="Review.RatingValue" value="6" />        <label for="str6" title="7 stele">6 star</label>
        <input type="radio" id="str5" name="Review.RatingValue" value="5" />        <label for="str5" title="6 stele">5 stars</label>
        <input type="radio" id="str4" name="Review.RatingValue" value="4" />        <label for="str4" title="5 stele">4 stars</label>
        <input type="radio" id="str3" name="Review.RatingValue" value="3" />        <label for="str3" title="4 stele">3 stars</label>
        <input type="radio" id="str2" name="Review.RatingValue" value="2" />        <label for="str2" title="3 stele">2 stars</label>
        <input type="radio" id="str1" name="Review.RatingValue" value="1" />        <label for="str1" title="2 stele">1 star</label>
        <input type="radio" id="str0" name="Review.RatingValue" value="0" />        <label for="str0" title="1 stea">0 stars</label>
    </div>
    <div>
        <button class="k-button k-primary" style="margin-top: 2em" name="submit" value="save">Salveaza</button>
        <button class="k-button k-primary" style="margin-top: 2em" name="submit" value="cancel">Anuleaza</button>
    </div>
    <br />
    <hr />
    <h3> Comentarii asociate obiectivului </h3>
    <div>
        @foreach (var review in Model.Reviews)
        {

            <span class="rounded-sm">
                <b>Nume utilizator: </b> @review.User<br />
                <b>Titlu Comentariu: </b>@review.Title<br />
                <b>Comentariu: </b>@review.Comment<br />
                <b>Nota </b>
                @for (int i = 0; i < @review.RatingValue; i++)
                {
                    <span class="fa fa-star checked"></span>
                }
                @for (int i = 0; i < 10 - @review.RatingValue; i++)
                {
                    <span class="fa fa-star"></span>
                }

                <br />
            </span>
            <br />
        }

    </div>


    <script>
        $(document).ready(function () {
            $(".rating input:radio").attr("checked", false);

            $('.rating input').click(function () {
                $(".rating span").removeClass('checked');
                $(this).parent().addClass('checked');
            });
            $('input:radio').change();
        });

        $(':radio').change(function () {
            console.log('New star rating: ' + this.value);
        });
    </script>

    <style>



        .checked {
            color: orange;
        }


        .rate {
            float: left;
            height: 46px;
            padding: 0 10px;
        }

            .rate:not(:checked) > input {
                position: absolute;
                top: -9999px;
            }

            .rate:not(:checked) > label {
                float: right;
                width: 1em;
                overflow: hidden;
                white-space: nowrap;
                cursor: pointer;
                font-size: 30px;
                color: #ccc;
            }

                .rate:not(:checked) > label:before {
                    content: '★ ';
                }

            .rate > input:checked ~ label {
                color: #ffc700;
            }

            .rate:not(:checked) > label:hover,
            .rate:not(:checked) > label:hover ~ label {
                color: #deb217;
            }

            .rate > input:checked + label:hover,
            .rate > input:checked + label:hover ~ label,
            .rate > input:checked ~ label:hover,
            .rate > input:checked ~ label:hover ~ label,
            .rate > label:hover ~ input:checked ~ label {
                color: #c59b08;
            }
    </style>

}



<script>
window.onload=function(){update()}
    let countryId;
    function getCountryId() {
        return countryId;
    }
    function update() {
        var url_string = window.location.href; //window.location.href
        var url = new URL(url_string);
        let id = url.searchParams.get("Id");
        let test;
        if (id !== null) {
            var touristData = {
                Id: id
            }
            $.ajax({
        type: "GET",
        url: "@Url.Action("GetObjectiveDetails", "TouristAttraction")",
        content: "application/json; charset=utf-8",
        dataType: "json",
        //transferEncoding:"chunke",
        data: touristData,
        cache: false,
            success: function (d) {
            if (d.result) {
                document.getElementById('name').value = d.result[0].Name;
                //document.getElementById('description').value = d.result[0].Description;
                let th = document.getElementById('description').value = d.result[0].Description;
                document.getElementById('longitude').value = d.result[0].Longtitudine;
                document.getElementById('latitude').value = d.result[0].Latitudine;
                document.getElementById('category').value = d.result[0].CategoryName;
                document.getElementById('city').value = d.result[0].CityName;
                document.getElementById('landmark').value = d.result[0].LandmarkTypeName;
                document.getElementById('county').value = d.result[0].CountyName;
                document.getElementById('country').value = d.result[0].CountryName;
                countryId = d.result[0].CountryId;
                console.log(th.length)

                if (th.length > 6 && th.length < 50) {
                    $('#description').css("height", th.length * 2 + "px");
                }
                else {
                    if (th.length <= 4) {
                        $('#description').css("height", th.length * 20 + "px");
                    } else {
                        $('#description').css("height", th.length / 2 + "px");
                    }

                }
                if (d.result[0].Image.length > 0) {
                    let image;
                    d.result[0].Image.map((img, index) => {
                        image = document.createElement("img");
                        activeDiv = document.createElement("div");
                        if (index == 0) {
                            activeDiv.classList.add("carousel-item");
                            activeDiv.classList.add("active");
                            image.classList.add("d-block");
                             image.classList.add("w-100");
                            image.src = "/images/" + img;
                            activeDiv.append(image);

                            $('#objective-images').append(activeDiv);
                        } else {
                            activeDiv.classList.add("carousel-item");
                            image.classList.add("d-block");
                            image.classList.add("w-100");
                            image.src = "/images/" + img;
                            activeDiv.append(image);

                            $('#objective-images').append(activeDiv);
                        }
                    })
                }
            }
            else {
                alert("Error");
            }
        },
        error: function(xhr, textStatus, errorThrown) {
            // TODO: Show error
        }
    });
        }


    }

</script>
