@model IEnumerable<iWasHere.Domain.Models.TouristAttraction>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longtitudine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitudine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Landmark)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longtitudine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitudine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.DictionaryCategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City.DictionaryCityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Landmark.DictionaryItemCode)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TouristAttractionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TouristAttractionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TouristAttractionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
